body {
    background-color: rgb(227, 204, 249);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 60px;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    background-color: azure;
    border-radius: 10px;
}

button:hover {
    opacity: 0.7;
}

#player-points {
    color: rgb(51, 2, 33)
}

#computer-points {
    color:rgb(113, 74, 2)
}